@charset "UTF-8";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  letter-spacing: -0.5px;
}

:root {
  --clr-primary-400: #124bce;
  --clr-secondary-400: #e600bb;
  --clr-secondary-500: #b311ff;
  --clr-neutral-100: #fcfcfc;
  --clr-neutral-400: #737a82;
  --clr-neutral-800: #282b2f;
  --clr-neutral-900: #1a1c1d;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}
@media only screen and (min-width: 40em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.653rem;
  }
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 0 1.5rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

.text-primary-400 {
  color: var(--clr-primary-400) !important;
}

.bg-primary-400 {
  background-color: var(--clr-primary-400) !important;
}

.text-secondary-400 {
  color: var(--clr-secondary-400) !important;
}

.bg-secondary-400 {
  background-color: var(--clr-secondary-400) !important;
}

.text-secondary-500 {
  color: var(--clr-secondary-500) !important;
}

.bg-secondary-500 {
  background-color: var(--clr-secondary-500) !important;
}

.text-neutral-100 {
  color: var(--clr-neutral-100) !important;
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100) !important;
}

.text-neutral-400 {
  color: var(--clr-neutral-400) !important;
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400) !important;
}

.text-neutral-800 {
  color: var(--clr-neutral-800) !important;
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800) !important;
}

.text-neutral-900 {
  color: var(--clr-neutral-900) !important;
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900) !important;
}

fieldset {
  border: none;
}

.filter-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}
.filter-box .search {
  width: 100%;
}
.filter-box .slide-range {
  width: 100%;
}
@media only screen and (min-width: 40em) {
  .filter-box {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .filter-box .search {
    width: 40%;
  }
  .filter-box .slide-range {
    width: 40%;
  }
}

.search {
  position: relative;
}
.search-input {
  background: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  padding: 0.5em;
  width: 100%;
  position: relative;
}
.search-label {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 0 0 5px #000;
  transform: translateY(-50%);
}
.search-label::before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 5px;
  height: 15px;
  background-color: #000;
  border-radius: 5px;
  transform: rotate(-55deg);
  transform-origin: left top;
}

.slide-range {
  display: grid;
  grid-template-rows: max-content 1em;
  position: relative;
}
.slide-range input[type=range] {
  grid-column: 1;
  grid-row: 2;
  cursor: pointer;
  background: none;
  color: #000;
  font: inherit;
  margin: 0;
  pointer-events: none;
}
.slide-range input[type=range]::-webkit-slider-runnable-track, .slide-range input[type=range]::-webkit-slider-thumb, .slide-range input[type=range] {
  -webkit-appearance: none;
}
.slide-range input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(0deg, #ccc 1em, transparent 0);
  border-radius: 4px;
  height: 5px;
  width: 100%;
  cursor: pointer;
}
.slide-range input[type=range]::-moz-range-track {
  background: linear-gradient(0deg, #ccc 1em, transparent 0);
  border-radius: 4px;
  height: 5px;
  width: 100%;
  cursor: pointer;
}
.slide-range input[type=range]::-webkit-slider-thumb {
  background: currentColor;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  width: 1em;
  height: 1em;
}
.slide-range input[type=range]::-moz-range-thumb {
  background: currentColor;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  width: 1em;
  height: 1em;
}
.slide-range input[type=range]#min_population::-webkit-slider-thumb, .slide-range input[type=range]#min_population::-moz-range-thumb {
  background-color: red;
}
.slide-range input[type=range]#max_population::-webkit-slider-thumb, .slide-range input[type=range]#max_population::-moz-range-thumb {
  background-color: blue;
}
.slide-range output {
  position: absolute;
  bottom: -2rem;
}
.slide-range output.min_population {
  left: 0;
}
.slide-range output.max_population {
  right: 0;
}

.sr-only {
  position: absolute;
  clip-path: inset(50%);
}

.select-fieldset {
  position: relative;
}
.select-fieldset select {
  width: 100%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: var(--clr-primary-400);
  border: none;
  border-bottom: 2px solid #0a2970;
  color: white;
  padding: 10px;
  padding-right: 38px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  /* For IE <= 11 */
}
.select-fieldset select::-ms-expand {
  display: none;
}
.select-fieldset select:focus .select-icon::after {
  content: "";
}
.select-fieldset .select-icon::after {
  content: "";
  color: #fff;
  font-family: "Material Icons";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

table {
  border: 0;
  width: 100%;
}
table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
table tbody,
table tr,
table th,
table td {
  display: block;
}
table th,
table td {
  padding: 0.5em;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
table tr {
  background-color: var(--clr-neutral-100);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
  transition: box-shadow 0.2s ease-in-out;
}
table tr:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
table td {
  border-bottom: 1px solid #ddd;
  font-size: 0.8em;
  text-align: right;
}
table td[data-label=Flag] img {
  display: block;
  max-width: 50px;
  object-fit: cover;
}
table td::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}
@media only screen and (min-width: 40em) {
  table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    table-layout: fixed;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
  table thead {
    position: relative;
    clip: auto;
    height: auto;
    overflow: auto;
  }
  table tbody {
    display: table-row-group;
  }
  table tr {
    border: 1px solid #ddd;
    display: table-row;
    transition: background-color 0.2s ease-in-out;
  }
  table tr:hover:not(thead tr) {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    background-color: #e3e3e3;
  }
  table tr th,
table tr td {
    padding: 0.625em;
    display: table-cell;
    text-align: center;
  }
  table tr th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-100);
  }
  table tr td[data-label=Flag] img {
    margin: 0 auto;
  }
  table tr td::before {
    content: none;
  }
}

nav {
  padding: 1.5rem 0;
  background-color: var(--clr-primary-400);
  color: #fff;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 999;
}
@media only screen and (min-width: 40em) {
  nav {
    padding: 0;
  }
}

.nav__container {
  background-color: var(--clr-primary-400);
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.nav__container :nth-child(1) {
  margin-right: auto;
}
.nav__container li:not(:nth-child(1)),
.nav__container a {
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem 0;
}

.nav-toggle__input {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle__label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle__label span,
.nav-toggle__label span::before,
.nav-toggle__label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle__label span::before,
.nav-toggle__label span::after {
  content: "";
  position: absolute;
}
.nav-toggle__label span::before {
  bottom: 7px;
}
.nav-toggle__label span::after {
  top: 7px;
}

.nav-toggle__input:checked ~ ul {
  transform: scale(1, 1);
}

@media only screen and (min-width: 40em) {
  nav > .container {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav > .container .nav-toggle__label {
    display: none;
  }
  nav > .container .nav__container {
    all: unset;
    display: flex;
    align-items: center;
    list-style: none;
  }
  nav > .container .nav__container li + li {
    padding-left: 2rem;
  }
}

*::selection {
  user-select: none;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main {
  flex: 1;
  margin-top: 5rem;
}

footer {
  flex-shrink: 0;
  background-color: var(--clr-primary-400);
  color: #fff;
}
footer small {
  padding: 1.5rem 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
