@use 'abstracts' as *;
@use 'base' as *;
@use 'utilities' as *;
@use 'components' as *;

*::selection {
    user-select: none;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
main {
    flex: 1;
    margin-top: 5rem;
}

footer {
    flex-shrink: 0;
    background-color: var(--clr-primary-400);
    color: #fff;

    small {
        padding: 1.5rem 0;
        display: inline-block;
        text-align: center;
        width: 100%;
    }
}
