@use '../abstracts' as *;

table {
	border: 0;
	border-collapse: collapse;

	thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: 0.625em;
	}

	td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: 0.8em;
		text-align: right;

		&::before {
			/*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	@include mq(medium) {
		border-collapse: collapse;
		border: 1px solid #ccc;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;

		tr {
			background-color: #f8f8f8;
			border: 1px solid #ddd;
			padding: 0.35em;

			th,
			td {
				padding: 0.625em;
				text-align: center;
			}

			th {
				font-size: 0.85em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
			}

			td {
			}
		}
	}
}
